* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Arial";
}

.banner {
	background: #4F2D7F;
}

/*---Menu Start---*/
.menu {
	background: #4F2D7F;
}

.menu-list {
	display: table;
	width: 100%;
	position: center;
	list-style-type: none;
}

.menu-list a {
	width: 25%;
	display: table-cell;
	text-decoration: none;
}

.menu-list a li {
	margin: auto !important;
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: "Arial";
}

.menu-list a li:hover {
	background: #371f58;
	color: white;
}

/*---Menu Finish---*/

/*---Col Start---*/

.auckland-uni {
	margin-bottom: 50px;
}

.auckland-uni p {
	text-indent: 50px;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

.ball-pic {
	width: 60%;
	float: left;
	margin-right: 15px;
}

.courses {
	margin: 30px 0 100px 0;
	width: 100%;
}

.courses table {
	margin-top: 30px;
	width: 100%;
	text-align: left;
}

.courses table tr th {
	padding: 0 15px;
}

.courses table tr th ul li {
	font-weight: normal;
	margin-bottom: 5px;
}

.courses-header {
	text-align: center;
	font-weight: bold;
}

.book-list {
	list-style-type: none;
}

.book-cell {
	margin: 5px 15px;
	padding: 10px 75px;
	border-radius: 15px;
	vertical-align: middle;
}

.book-cell:hover {
	background: #dbd5e5;
}

.cover {
	height: 200px;
	margin-right: 20px;
}

.book-text {
	font-weight: normal !important;
	style: none;
	color: black;
}

/*---Col Finish---*/

/*---Footer Start---*/
#footer {
	margin: 0;
	bottom: 0;
	padding: 5px 20px;
	position: fixed;
	width: 100%;
}

#footer-links {
	float: left;
	list-style-type: none;
}

#footer-links li {
	margin: 0 !important;
	display: inline;
}

#footer-links li i {
	margin: 0px 10px;
	color: white;
}

#footer-links li i:hover {
	color: orange;
}

.stamp {
  color: white;
  font-family: "Arial";
  text-align: right;
  font-size: 15px;
  padding: 0 30px 0 0;
}
/*---Footer Finish---*/
