* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	margin: 0;
}

.banner {
	background: grey;
}

/*---Start Parallax---*/

.parallax {
	background: url("https://f4.bcbits.com/img/a2982924713_10.jpg") repeat fixed 200%;
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	background-position: center;
}

/*---End Parallax---*/

#header-title {
	color: white;
	text-align: center;
	font-weight: normal;
	font-family: "Century Gothic";
	padding: 20%;
}

#footer {
	margin: 0;
	bottom: 0;
	padding: 10px 20px;
	position: fixed;
	width: 100%;

}

#footer-links {
	float: left;
	list-style-type: none;
}

#footer-links li {
	display: inline;
}

#footer-links li i {
	margin: 0px 10px;
	color: white;
}

#footer-copyright {
	color: white;
	font-family: "Century Gothic";
	float: right;
	padding: 0px 40px;
}