* {
	margin: 0;
	padding: 0;
	border: 0;
}

.banner {
	background: grey;
}

/*---Header Start---*/
.parallax {
	background: url("/res/Header.jpg") repeat fixed 200%;
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	background-position: top;
}

#header-title {
	color: white;
	text-align: center;
	font-weight: normal;
	font-family: "Century Gothic";
	padding: 20%;
}
/*---Header Finish*---/



/*---Body Start---*/
.main-body {
	padding: 0px 0px 150px 0px;
}

.main-body-title {
	text-align: center;
	color: grey;
	font-family: "Century Gothic";
	padding: 10% 0px 0px 10px;
}

.main-body-paragraph {
	text-align: center;
	font-family: "Century Gothic";
	padding: 0px 25%;
}
/*---Body Finish---*/



/*---Footer Start---*/
#footer {
	margin: 0;
	bottom: 0;
	padding: 10px 20px;
	position: fixed;
	width: 100%;

}

#footer-links {
	float: left;
	list-style-type: none;
}

#footer-links li {
	display: inline;
}

#footer-links li i {
	margin: 0px 10px;
	color: white;
}

#footer-copyright {
	color: white;
	font-family: "Century Gothic";
	float: right;
	padding: 0px 40px;
}
/*---Footer Finish---*/