* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: black;
}

.banner {
	background: black;
}

/*---Body Start---*/

.content {
	margin-top: 13%;
    top: 50%;
    left: 50%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 60%;
	text-align: center;
}

.center h1, pre {
	color: white;
}

.center-title h1 {
	font-family: "Courier New";
	font-weight: normal;
	font-size: 50px
}

.center-subtitle {
	
}

.center-subtitle pre {
	font-family: "Courier New";
	font-weight: normal;
	font-size: 30px;
}

.portal-row {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: center;
}

.portal {
	display: inline-grid;
	width: 21%;
	margin: 10px 7px 10px 7px;
	padding: 5px 5px 5px 7px;
	border-radius: 4px;
}

#work-portal:hover {
	background-color: #162947; /*Navy Blue*/
}

#work-portal:hover h1, #work-portal:hover p, #work-portal:hover i {
	color: white;
}

#education-portal:hover {
	background-color: #2d8427; /*Dark Green*/
}

#education-portal:hover h1, #education-portal:hover p, #education-portal:hover i {
	color: white;
}

#music-portal:hover {
	background-color: #ff6e00; /*Orange*/
}

#music-portal:hover h1, #music-portal:hover p, #music-portal:hover i {
	color: white;
}

#simpsons-portal:hover {
	background-color: #FFD90F; /*Yellow*/
}

#simpsons-portal:hover h1, #simpsons-portal:hover p, #simpsons-portal:hover i {
	color: white;
}

.portal h1, p, i {
	color: #7a7a7a;
	font-family: "Courier New";
	font-weight: normal;
}

.portal h1 {
	font-size: 25px;
}

.portal p, i {
	color: black;
}

.portal p {
	text-align: left;
}

.portal i {
	float: right;
	font-size: 150%;
	margin-top: 10px;
}

#portal-description {
	color: white;
	margin: 60px 0;
}
/*---Body Finish---*/



/*---Footer Start---*/
#footer {
	margin: 0;
	bottom: 0;
	padding: 20px 20px;
	position: fixed;
	width: 100%;
}

#footer-links {
	list-style-type: none;
	text-align: center;
}

#footer-links li {
	display: inline;
}

#footer-links li i {
	margin: 0px 20px;
	color: #7a7a7a;
}

#footer-links li i:hover {
	color: orange;
}
/*---Footer Finish---*/