* {
  margin: 0;
  padding: 0;
  border: 0;
}

.banner {
  background: grey;
}

/*---Menu Start---*/
.menu {
  float: right;
  background: grey;
  width: 100%;
}

.menu-list {
  display: table;
  width: 100%;
  position: center;
  list-style-type: none;
}

.menu-list a {
  width: 25%;
  display: table-cell;
  text-decoration: none;
}

.menu-list a li {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: "Century Gothic";
}

.menu-list a li:hover {
  background: #555;
  color: orange;
}
/*---Meu Finish---*/

/*---Blur Start---*/
.blur-img {
  position: relative;
  width: 100%;
  height: 70vh;
  z-index: -1;
  top: 0;
  left: 0;
}

.underlay {
	background: url("/../res/Music-Header.jpg");
	position: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blur {
	background: url("/../res/Music-Header-Blur.jpg");
	position: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    opacity: 0;
}
/*---Blur Finish---*/


/*---Body Start---*/
.down-arrow {
  text-align: center;
}

.down-arrow i {
  color: orange;
  text-shadow: 4px 4px 6px #000000;
  font-size: 100px;
}

.jump-to-list {
  text-indent: 40px;
}

.body-column {
  margin: 60px 22.5%;
  padding: 40px 8%;
  background: white;
  border-radius: 15px;
}

.body-column h1, h3 {
  text-align: center;
}

.body-column h3 a {
  text-decoration: none;
  color: black;
}

.body-column h3 a:hover {
  color: orange;
}

.body-column p, h1, h3 li, a {
  font-family: "Century Gothic";
}

.body-column li {
  list-style-type: none;
}

.body-image {
  margin: 60px 40px 0px 40px;
  height:300px;
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left:auto;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.embedded-player {
  width: 300px;
  height: 80px;
  display: block;
  margin: 0px 0px 20px 0px;
  margin-right: auto;
  margin-left: auto;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.return-to-top, .return-to-top a {
  color: black;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}
/*---Body Finish---*/


/*---Footer Start---*/
#footer {
  margin: 0;
  bottom: 0;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
}

#footer-links {
  list-style-type: none;
}

#footer-links li {
  display: inline;
}

#footer-links li i {
  margin: 0px 10px;
  color: white;
}

#footer-links li i:hover {
  color: orange;
}
/*---Footer Finish---*/