* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Arial";
}

.banner {
	background: grey;
}

/*---Menu Start---*/
.menu {
	background: grey;
}

.menu-list {
	display: table;
	width: 100%;
	position: center;
	list-style-type: none;
}

.menu-list a {
	width: 25%;
	display: table-cell;
	text-decoration: none;
}

.menu-list a li {
	margin: auto !important;
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: "Arial";
}

.menu-list a li:hover {
	background: #555;
	color: orange;
}
/*---Menu Finish---*/

/*---Bio Col---*/

.column {
	width: 65%;
	margin: 0 auto;
	padding: 60px 0;
}

.header {
	font-family: "Arial";
	font-size: 60px;
	text-align: center;
}

.about-me-content {
	margin: 30px 0;
}

.about-me-text {
	width: 60%;
	float: left;
	margin: 70px 2% 0 2%;
	text-indent: 50px;
	line-height: 1.5;
}

.about-me-toolbox {
	width: 30%;
	float: right;
	padding: 2%;
	margin-right: 2%;
	border-radius: 15px;
}

.about-me-toolbox h2 {
	font-family: "Arial";
	text-align: center;
}

.about-me-toolbox table {
	width: 80%;
	margin: 0 10%;
	list-style-type: square;
}

.about-me-toolbox table tr th {
	text-align: left;
	padding: 0 5px;
	font-weight: normal;
	font-family: "Courier New" !important;
}

.lang-icon {
	font-size: 200%
}

.downloads table {
	margin: 40px auto 20px auto;
	width: auto;
}

.downloads table tr th {
	width: 200px;
	border-radius: 20px;
}

.downloads table tr th a {
	text-decoration: none;
	color: black;
}

.downloads table tr th:hover {
	background-color: #999999;
	cursor: pointer;
}

.work-history {
	clear: both;
}

/*.bio-col {
	float: left;
	background: #222;
	margin: 40px 100px 60px 40px;
	border-radius: 15px;
	width: 30vw;
	padding: 70px;
	text-align: center;
}

.bio-col-pic {
	height: auto;
	width: 250px;
	margin: 30px 0 20px 0;
	border-radius: 50%;
	border: 1px solid orange;
}

.bio-col-para {
	font-family: "Arial";
	color: white;
	text-align: left;
}

.body-header {
	margin: 50px;
	margin-right: 30px;
	font-size: 75px;
	font-weight: normal;
	font-family: "Arial";
}

.body-sub-header {
	margin: 50px;
	margin-right: 30px;
	font-size: 35px;
	font-weight: normal;
	font-family: "Arial";
	text-align: center;
}

.body-para, li {
	margin: 0 100px 0 70px;
	text-align: left;
	font-size: 20px;
	font-family: "Arial";
}

.contact-table {
	width: 40vw;
	table-layout: fixed;
}

.contact-table .ct-1 {
	width: 150px;
}

.contact-table tr th{
	font-weight: normal;
}

.work-history-img {
	float: right;
	margin: 20px;
}

#park-hyatt {
	width: 500px;
}

#meg {
	height: 400px;
}

.project-box {
	margin: 0 10%;
	border: 1px solid orange;
}

.project-table {
	margin: auto;
}

.project-table tr {
	margin: 20px 50px;
	width: 45vw;
}

.project-table tr th img {
	width: 80%;
	margin: 20px 0;
	height: auto;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dl-list {
	margin: 0 0 0 50px;
	list-style: square;
}*/
/*---Bio Finish---*/

/*---Footer Start---*/
#footer {
	margin: 0;
	bottom: 0;
	padding: 5px 20px;
	position: fixed;
	width: 100%;
}

#footer-links {
	float: left;
	list-style-type: none;
}

#footer-links li {
	margin: 0 !important;
	display: inline;
}

#footer-links li i {
	margin: 0px 10px;
	color: white;
}

#footer-links li i:hover {
	color: orange;
}

.stamp {
  color: white;
  font-family: "Arial";
  text-align: right;
  font-size: 15px;
  padding: 0 30px 0 0;
}
/*---Footer Finish---*/