* {
	margin: 0;
	padding: 0;
	border: 0;
}

.banner {
	background: grey;
}

/*---Menu Start---*/
.menu {
	background: grey;
}

.menu-list {
	display: table;
	width: 100%;
	position: center;
	list-style-type: none;
}

.menu-list a {
	width: 25%;
	display: table-cell;
	text-decoration: none;
}

.menu-list a li {
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: "Century Gothic";
}

.menu-list a li:hover {
	background: #555;
	color: orange;
}
/*---Menu Finish---*/

/*---Bio Col---*/
.bio-col {
	float: left;
	background: #222;
	margin: 40px 100px 60px 40px;
	border-radius: 15px;
	width: 30vw;
	padding: 70px;
	text-align: center;
}

.bio-col-pic {
	height: auto;
	width: 250px;
	margin: 30px 0 20px 0;
	border-radius: 50%;
	border: 1px solid orange;
}

.bio-col-para {
	font-family: "Century Gothic";
	color: white;
	text-align: left;
}

.body-header {
	margin: 50px;
	margin-right: 30px;
	font-size: 75px;
	font-weight: normal;
	font-family: "Century Gothic";
}

.body-sub-header {
	margin: 50px;
	margin-right: 30px;
	font-size: 35px;
	font-weight: normal;
	font-family: "Century Gothic";
	text-align: center;
}

.body-para, li {
	margin: 0 100px 0 70px;
	text-align: left;
	font-size: 20px;
	font-family: "Century Gothic";
}

.contact-table {
	width: 40vw;
	table-layout: fixed;
}

.contact-table .ct-1 {
	width: 150px;
}

.contact-table tr th{
	font-weight: normal;
}

.project-box {
	margin: 0 10%;
	border: 1px solid orange;
}

.project-table {
	margin: auto;
}

.project-table tr {
	margin: 20px 50px;
	width: 45vw;
}

.project-table tr th img {
	width: 80%;
	margin: 20px 0;
	height: auto;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dl-list {
	margin: 0 0 0 50px;
	list-style: square;
}
/*---Bio Finish---*/

/*---Footer Start---*/
#footer {
	margin: 0;
	bottom: 0;
	padding: 5px 20px;
	position: fixed;
	width: 100%;
}

#footer-links {
	list-style-type: none;
}

#footer-links li {
	margin: 0 !important;
	display: inline;
}

#footer-links li i {
	margin: 0px 10px;
	color: white;
}

#footer-links li i:hover {
	color: orange;
}
/*---Footer Finish---*/