* {
	margin: 0;
	padding: 0;
	border: 0;
}

.banner {
	background: grey;
}

/*---Menu Start---*/
.menu {
	background: grey;
}

.menu-list {
	display: table;
	width: 100%;
	position: center;
	list-style-type: none;
}

.menu-list a {
	width: 25%;
	display: table-cell;
	text-decoration: none;
}

.menu-list a li {
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: "Century Gothic";
}

.menu-list a li:hover {
	background: #555;
	color: orange;
}
/*---Menu Finish---*/

/*---Bio Col---*/
.bio-col {
	background: #222;
	margin: 40px 30px 60px 40px;
	border-radius: 15px;
	width: 30vw;
	padding: 70px;
	text-align: center;
}

.bio-col-pic {
	height: auto;
	width: 250px;
	margin: 30px 0 20px 0;
	border-radius: 50%;
	border: 1px solid orange;
}

.bio-col-para {
	font-family: "Century Gothic";
	color: white;
	text-align: left;
}
/*---Bio Finish---*/

/*---Footer Start---*/
#footer {
	margin: 0;
	bottom: 0;
	padding: 5px 20px;
	position: fixed;
	width: 100%;
}

#footer-links {
	list-style-type: none;
}

#footer-links li {
	display: inline;
}

#footer-links li i {
	margin: 0px 10px;
	color: white;
}

#footer-links li i:hover {
	color: orange;
}
/*---Footer Finish---*/